#info {
	position: absolute;
	top: 10px;
    left: 10px;
	width: 100%;
    font-size: 200%;
    font-family: verdana;
	text-align: left;
	z-index: 100;
	display:block;
}

#button {
	position: absolute;
	top: 50px;
	width: 100%;
    font-size: 100%;
    font-family: verdana;
	text-align: center;
	z-index: 100;
	display:block;
}

#instructions {
	position: absolute;
	top: 110px;
	width: 100%;
    font-size: 100%;
    font-family: verdana;
	text-align: center;
	z-index: 100;
	display:block;
}

#image {
	position: absolute;
	top: 200px;
	width: 100%;
    font-size: 100%;
    font-family: verdana;
	text-align: center;
	z-index: 100;
	display:block;
}

#gameover {
	position: absolute;
	top: 215px;
	width: 100%;
    font-size: 100%;
    font-family: verdana;
	text-align: center;
	display:block;
}

img {
    width: 50%
}

button {
    width: 200px;
    height: 50px;
}
